nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none; 
}

nav ul li a:hover {
    background-color: #555;
}

#data-container{
    text-align: center;
    display: inline;
    list-style: none;
}
body{
    text-align: center;
    background-image: url(https://th.bing.com/th/id/OIP.oZ7U3-4lh_AQiunzMfnHIgHaGI?rs=1&pid=ImgDetMain);
}
#first{
    border: 3px solid black;
    padding: 70px;
    font-size: x-large;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    height: 40%;
    background-image: url(https://t4.ftcdn.net/jpg/05/23/45/01/360_F_523450108_ZX2EEUey2LHGslvK232yh3b0g42VP4QX.jpg);
}
.question{
    font-family: 'Times New Roman', Times, serif;
}
#title{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
    letter-spacing: 15  px;
}
